* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    background-color: #74af21;
}

    .navigation-bar {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
        margin: 1rem;
        align-items: center;
        border-radius: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        gap: 1rem;
    }

        .logo {
            color: #74af21;
            font-weight: bold;
        }

        .pages {
            list-style: none;
        }

            .pages ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                gap: 1rem;
                justify-content: center;
                align-items: center;
            }

            .pages ul li {
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }

                .pages ul li:nth-child(1) {
                    color: #74af21;
                }

            .pages ul li:hover {
                transition: all 0.3s ease-in-out;
                text-decoration: underline;
                color: #4a8e1f;
            }

            .pages ul li:visited {
                color: black;
                text-decoration: none;
            }
        
            .navbar-icons {
                /* Shopping Cart & Profile */
                display: flex;
                flex-direction: row;
                gap: 1rem;
                justify-content: center;
                align-items: center;
            }

                .navbar-icons img {
                    width: 1.5rem;
                    height: 1.5rem;
                    transition: transform 0.3s ease-in-out;
                    cursor: pointer;
                }
                
                .navbar-icons img:hover {
                    transition: transform 0.3s ease-in-out;
                    cursor: pointer;
                    transform: scale(1.3);
                }

                .navbar-icons img:active {
                    transform: scale(0.8);
                }

    .footer {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin: 1rem;
        gap: 1rem;
        border-radius: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

        .footer p {
            text-align: center;
        }

        .footer p a {
            text-decoration: none;
            color: #74af21;
        }

        .footer p a:hover {
            transition: all 0.3s ease-in-out;
            text-decoration: underline;
            color: #4a8e1f;
        }

        .social-icons {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: center;
            align-items: center;
        }

            .social-icons img {
                width: 1.5rem;
                height: 1.5rem;
                transition: transform 0.3s ease-in-out;
                cursor: pointer;
            }
            
            .social-icons img:hover {
                transition: transform 0.3s ease-in-out;
                cursor: pointer;
                transform: scale(1.3);
            }

            .social-icons img:active {
                transform: scale(0.8);
            }