.cart-tools, .cart-tools-extended {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    text-align: center;
    padding: 1rem;
    /* margin: auto; */
}

    .cart-tools h1, .cart-tools-extended h1 {
        font-size: 1.3rem;
    }

.button-component {
    background-color: #ffffff;
    border-radius: 0.2rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: black 2px solid;
    padding: 0.3rem;
    margin: auto;
    color:#74af21;
}

    .button-component:hover {
        color: #ffffff;
        background-color: #4a8e1f;
        /* border: #ffffff 2px solid; */
        transition: all 0.3s ease-in-out;
    }

    .button-component:active {
        color: #74af21;
        background-color: #ffffff;
        border: black 2px solid;
        transition: all 0.3s ease-in-out;
    }

    .redirect-button:hover {
        text-decoration: underline;
        color: #4a8e1f;
        background-color: #ffffff;
    }

    a:visited > .redirect-button {
        color: #4a8e1f;
        text-decoration: none;
    }

    .complete-purchase-button {
        background-color: #4a8e1f;
        color: #ffffff;
    }

    .clear-cart-button {
        background-color: #B71C1C;
        color: #ffffff;
    }
    
        .clear-cart-button:hover {
            background-color: #B71C1C;
            color: #ffffff;
        }

        .clear-cart-button:active {
            background-color: #ffffff;
            color: #B71C1C;
        }

.cart-items-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width:fit-content;
}
    
        .cart-item-card {
            border: 2px solid white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem;
            gap: 1rem; 
            border-radius: 0.5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease-in-out;
        }
        
        .cart-item-card:hover {
            cursor: pointer;
            transform: scale(1.1);
            background-color: #4a8e1f;
            color: white;
            border: 0.2rem solid black;
            border-radius: 1rem;
        }

        .cart-item-card > img {
            width: 15rem;
            transition: border-radius 0.3s ease-in-out;
        }
        
        .cart-item-card:hover > img {
            border-radius: 1rem;
        }
        
        .cart-item-card-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            gap: 1rem;
        }
            
            .price-quantity {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
            }

            .quantity-button {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
            }

                .cart-item-card-buttons {
                    background-color: #ffffff;
                    border-radius: 0.2rem;
                    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
                    cursor: pointer;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    border: black 2px solid;
                }

                .cart-item-card-buttons:active {
                    background-color: #74af21;
                    border: #ffffff 2px solid;
                }

                .btn-decrease:active {
                    background-color:#B71C1C;
                }
                
                .btn-increase:active {
                    background-color:#74af21;
                }

                .remove-item-btn {
                    background-color: #ffffff;
                    border-color: #B71C1C;
                }
                
                .remove-item-btn:active {
                    background-color:#B71C1C;
                }

/* This is for mobile phones & iphones */

@media screen and (max-width: 480px) {
    .cart-items-container {
        grid-template-columns: repeat(auto-fit, minmax(66.66%, 1fr));
    }
}